* {
  margin: 0;
  padding: 0;
}

.main-div {
  width: 100%;
  min-height: 100vh;
  background-color: beige;
  place-items: center;
  display: grid;
  /* border: 5px solid pink; */
}
.inner-div{
    /* border: 5px solid black; */
    width: 400px;
    height: 400px;
    
}
.btn {
  /* border: 1px solid black; */
}
#onBulb {
  /* border: 1px solid blue; */
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  visibility: hidden;
}
#offBulb {
  /* border: 1px solid red; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  margin-top: 32px;
  visibility: hidden;
}

#on {
  padding: 1rem 3rem;
  border: none;
  border-radius: 1rem;
  background-color: bisque;
  font-size: larger;
  place-items: center;
}
#off {
  padding: 1rem 3rem;
  border: none;
  border-radius: 1rem;
  background-color: bisque;
  font-size: larger;
  place-items: center;
}
#on:hover {
  cursor: pointer;
}
#off:hover {
  cursor: pointer;
}
